/*html, body{
    height: 100%;
}*/
.fullscreen{
    height:100%;
    background-color:#6b7d98;
    background-image: url(/img/bg.png);
    background-size:cover;
    background-attachment: fixed;
    padding:30px;
}
.profile{
    width:150px;
    margin:auto;
}
.footer{
    padding:20px 0;
}
/*
.footer nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}*/